

.hero{
    position:relative;
    overflow:hidden;
    width:100% !important;
    padding:40px 50px 0;
}

.hero .container{
    display:grid;
    grid-template-columns: 0.85fr 1.15fr;
    align-items:center;
}

/* ===========================================
   LEFT
=========================================== */


.hero-left{
    width:100%;
}

.tagged{
    color:var(--white) !important; 
    display:inline-flex;
    align-items:center;
    gap:8px;
    background:var(--btn) !important;
    padding:7px 16px;
    border-radius:8px;
    font-weight:600;
    margin-bottom:40px;
}

.hero-title{
    display:grid;
    gap:8px;
}

.hero-title h1{
    margin:0;
    font-size:5rem;
    line-height:1.05;
    font-weight:700;
    letter-spacing:-2px;
    color:var(--heading);
}

.gray{
    color: var(--btn) !important;
}

.hero-title p{
    margin-top:20px;
    font-size:1.05rem;
    color:var(--text);
    line-height:1.8;
    max-width:600px;
}

.hero .buttons{
    display:flex !important;
    justify-content:flex-start !important;
    align-items:flex-start !important;
    gap:30px;
    width:100%;
    margin-bottom:55px;
}

.hero-features{
    display:flex;
    align-items:flex-start;
    gap:25px;
}

.feature{
    display:flex;
    gap:10px;
    flex:1;
}

.feature-icon{
    width:55px;
    height:55px;
    border-radius:50%;
    background:var(--white);
    color:var(--btn);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.7rem;
    flex-shrink:0;
}

.feature h4{
    margin:0;
    font-size:1rem;
    line-height:1.4;
    color:var(--heading);
}

.feature p{
    margin-top:8px;
    color:var(--text);
    line-height:1.6;
    font-size:.9rem;
}

.feature-divider{
    width:2px;
    height:50px;
    background:var(--white);
    margin-top: 20px;
}

/* ===========================================
   RIGHT
=========================================== */

.hero-right {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin-left: auto;
}

.image-wrapper {
    position: relative;
    width: 700px;
    height: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image {
    position: relative;
    z-index: 2;
    width: 700px;
    margin-right: 130px;
    max-width: none;
    height: auto;
    object-fit: contain;
    display: block;
    transform: translateX(-30px);
}

.store-card {
    position: absolute;
    z-index: 10;
    right: 0 !important;
    width: 315px;
    padding: 20px ;
    background: var(--white);
    border-radius: 15px;
    box-shadow: 0 7px 10px rgba(15, 38, 72, 0.2);
}

.store-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 0;
    background: transparent;
    text-align: center;
}

.store-heading-icon {
    width:55px;
    height:55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--icon-bg);
    color: var(--btn);
    font-size: 1.5rem;
    flex-shrink: 0;
}

.store-heading h4 {
    margin: 0;
    color: var(--heading);
    font-size: 1.5rem;
    font-weight: 700;
}

.store-divider {
    width: 100%;
    height: 1px;
    margin: 25px 0;
    background: rgba(15, 38, 72, 0.10);
}

.store-item {
    display: flex;
    align-items: flex-start;
    gap: 7px;
    padding: 7px !important;
    margin-bottom: 22px;
}

.store-item:last-of-type {
    margin-bottom: 0;
}

.store-icon {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    background: var(--icon-bg);
    color: var(--btn);
    font-size: 1rem;
}

.store-item h5 {
    margin: 2px 0 7px;
    color: var(--heading);
    font-size: 1rem;
    font-weight: 600;
}

.store-item small {
    display: block;
    margin: 0;
    color: var(--text);
    font-size: 0.88rem;
    line-height: 1.65;
}

.store-call {
    display: flex;
    align-items: flex-start;
    gap: 13px;
    margin-top: 10px;
    padding: 10px;
    background: var(--icon-bg) !important;
    border-radius: 14px;
}

.call-icon {
     width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    background: var(--white);
    color: var(--btn);
    font-size: 1rem;
}

.store-call h5 {
    margin: 1px 0 5px;
    color: var(--btn);
    font-size: 0.85rem;
    font-weight: 700;
}

.store-call p {
    margin: 0;
    color: var(--text);
    font-size: 0.78rem;
    line-height: 1.6;
}

.store-call strong {
    color: var(--btn);
}

.directions-btn {
    display: flex;
    align-items: center;
    gap: 14px;
    width: 100%;
    margin-top: 18px;
    padding: 16px;
    background: var(--btn);
    color: var(--white);
    border-radius: 14px;
    text-decoration: none;
    transition: 0.25s ease;
}

.directions-btn > svg {
    flex-shrink: 0;
    font-size: 1.15rem;
}

.directions-btn div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.directions-btn strong {
    font-size: 0.9rem;
}

.directions-btn span {
    font-size: 0.75rem;

    opacity: 0.85;
}

.directions-btn:hover {
    background: var(--btn-h);
     color: var(--white) !important;
}


/* ===========================================
   TABLET
=========================================== */

@media(max-width:1199px) and (min-width:758px){
   .hero {
        padding: 80px 20px 60px;
    }

    .hero .container {
        grid-template-columns: 1fr;
        gap: 0;
        margin-top: 30px;
    }

    .hero-title h1 {
        font-size: 4rem;
    }

    .hero-features {
        justify-content: center;
    }

    .hero-right {
        height: 620px;
        margin-top: 20px;
        justify-content: center;
    }

    .image-wrapper {
        width: 700px;
        max-width: 100%;
        height: 620px;
        margin: 0 auto;
    }

    .hero-image {
        width: 500px;
        transform: translateX(-80px);
    }

    .hero-circle {
        width: 450px;
        height: 450px;
        left: 42%;
    }

    .store-card {
        top: 15px;
        right: 0;
        width: 350px;
    }
    

    .quality-badge {
        left: 8%;
        bottom: 55px;
    }

}




@media (max-width:757px) {

    .hero {
        padding: 20px 10px;
    }

    .hero .container {
        grid-template-columns: 1fr;
        gap: 0;
        height: auto;
        margin-top: 40px;
    }

    .tagged {
        padding: 7px 15px;
        margin-bottom: 25px;
    }

    .hero-title p {
        font-size: .95rem;
    }

    .hero .buttons {
        display: flex !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        gap: 15px;
        width: 100%;
        margin-bottom: 55px;
    }

    .hero-features {
        flex-direction: column;
        gap: 25px;
    }

    .feature {
        width: 100%;
    }

    .feature-icon {
        width: 43px;
        height: 43px;
        padding: 12px;
    }

    .feature-divider {
        display: none;
    }


    /* RIGHT */

    .hero-right {
        width: 100%;
        height: 600px;
        margin-top: 0;
        justify-content: center;
    }

    .image-wrapper {
        width: 100%;
        height: 600px;
        max-width: 100%;
        margin: 0;
    }

    .hero-image {
        width: 350px;
        max-width: 90%;
        transform: translateY(30px);
    }

    .store-card {
        top: auto;
        bottom: 0;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        width: 90%;
        height:auto;
        padding: 20px;
        border-radius: 22px;
   transition: transform 0.3s ease;
}



    .store-heading-icon {
        width: 55px;
        height: 55px;
        font-size: 1.4rem;
    }

    .store-heading h4 {
        font-size: 1.2rem;
    }

    .store-divider {
        margin: 20px 0;
    }

    .store-item {
        gap: 12px;

        margin-bottom: 17px;
    }

    .store-icon {
        width: 40px;
        height: 40px;
    }

    .store-item h5 {
        font-size: .9rem;
    }

    .store-item small {
        font-size: .75rem;
    }

    .store-call {
        padding: 13px;
    }

    .directions-btn {
        padding: 13px;
    }
}