

.hero{
    position:relative;
    overflow:hidden;
    width:100% !important;
    padding:40px 50px 0;
}

.hero .container{
    display:grid;
    grid-template-columns: 0.85fr 1.15fr;
    align-items:center;
    gap:70px;
}

/* ===========================================
   LEFT
=========================================== */


.hero-left{
    width:100%;
}

.tagged{
    color:var(--white) !important; 
    display:inline-flex;
    align-items:center;
    gap:8px;
    background:var(--btn) !important;
    padding:12px 20px;
    border-radius:10px;
    font-weight:600;
    margin-bottom:40px;
}

.hero-title{
    display:grid;
    gap:8px;
}

.hero-title h1{
    margin:0;
    font-size:5rem;
    line-height:1.05;
    font-weight:700;
    letter-spacing:-2px;
    color:var(--heading);
}

.gray{
    color: var(--btn) !important;
}

.hero-title p{
    margin-top:20px;
    font-size:1.05rem;
    color:var(--text);
    line-height:1.8;
    max-width:600px;
}

.hero .buttons{
    display:flex !important;
    justify-content:flex-start !important;
    align-items:flex-start !important;
    gap:30px;
    width:100%;
    margin-bottom:55px;
}

.hero-features{
    display:flex;
    align-items:flex-start;
    gap:25px;
}

.feature{
    display:flex;
    gap:10px;
    flex:1;
}

.feature-icon{
    width:55px;
    height:55px;
    border-radius:50%;
    background:var(--white);
    color:var(--btn);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.7rem;
    flex-shrink:0;
}

.feature h4{
    margin:0;
    font-size:1rem;
    line-height:1.4;
    color:var(--heading);
}

.feature p{
    margin-top:8px;
    color:var(--text);
    line-height:1.6;
    font-size:.9rem;
}

.feature-divider{
    width:2px;
    height:50px;
    background:var(--white);
    margin-top: 20px;
}

/* ===========================================
   RIGHT
=========================================== */

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 0;
    width: 100%;
}

.image-wrapper {
    position: relative;
    width: 100% !important;
    max-width: 650px;
    margin-left: auto;
}


.hero-image{
    width:100%;
    object-fit:cover;
    display:block;
    height: auto;
}


/* ===========================================
   STORE CARD
=========================================== */

.store-card{
    position:absolute;
     right:100%;
    bottom:25px;
    width:290px;
    background:var(--white);
    border-radius:24px;
    padding:24px;
}

.store-item{
    display:flex;
    gap:18px;
    align-items:flex-start;
}

.store-item:first-child{
    margin-bottom:22px;
}

.store-icon{
    width:48px;
    height:48px;
    padding:14px;
    border-radius:50%;
    background:var(--bg);
    color:var(--btn);
    flex-shrink:0;
}

.store-item h5{
    margin:0;
    font-size:1rem;
    color:var(--heading);
}

.store-item small{
    display:block;
    margin-top:6px;
    color:var(--text);
    font-size:.9rem;
}




/* ===========================================
   TABLET
=========================================== */

@media(max-width:1199px) and (min-width:758px){

.hero{
    padding:100px 20px;
}

.hero .container{
    grid-template-columns:1fr;
    margin-top: 30px;
}

.hero-title h1{
    font-size:4rem;
}

.hero-features{
    justify-content:center;
}

.hero-right{
    margin-top:30px;
}

.image-wrapper{
    max-width:100%;
}

.store-card{
    position:absolute;
    width:auto;
    top:70%;
    left:50%;
    transform:translateX(-50%);
}

}

/* ===========================================
   MOBILE
=========================================== */

@media (max-width:757px){

.hero{
    padding:20px 10px;
}

.hero .container{
    grid-template-columns:1fr;
    gap:30px;
    margin-top: 40px;
}

.tagged{
    padding:7px 15px;
    margin-bottom:25px;
}

.hero-title p{
    font-size:.95rem;
}

.hero .buttons{
    display:flex !important;
    justify-content:flex-start !important;
    align-items:flex-start !important;
    gap:15px;
    width:100%;
    margin-bottom:55px;
}

.hero-features{
    flex-direction:column;
    gap:25px;
}

.feature{
    width:100%;
}

.feature-icon{
     width:43px;
    height:43px;
    padding:12px;
}

.feature-divider{
    display:none;
}

.image-wrapper{
    max-width:100%;
}

.hero-image{
    border-radius:24px;
}

.store-card{
    position:absolute;
    width:70%;
    left:50%;
    transform:translateX(-50%);
}

.store-item{
    gap:12px;
}

.store-icon{
    width:43px;
    height:43px;
    padding:12px;
}

}