

.search-section{
    margin:0 auto; 
}

.search-content{
    max-width:1200px;
    margin:auto;
    margin-top: 50px;
    text-align:center;
}

.search-box{
    display:flex;
    align-items:center;
    background:var(--white);
    border-radius:70px;
    padding:10px 30px!important;
    border:1px solid var(--btn);
    height: 60px !important;
    box-shadow:0 15px 40px rgba(0,0,0,0.1);
}

 .btn-search {
  display: inline-block;
  padding: 0px !important;
  background: var(--none) !important;
  text-decoration: none;
  transition: 0.3s ease;
}

 .btn-search:hover {
     transform:translateX(-2px);
}

.search-icon{
    font-size:1.2rem;
    color:var(--btn);
}

.search-box input{
    flex:1;
    border:none;
    outline:none;
    font-size:1rem;
    background:transparent;
}

.search-box button{
    border:none;
    background:var(--btn);
    color:var(--white);
    padding:16px 38px;
    border-radius:50px;
    cursor:pointer;
    font-weight:600;
    transition:.3s;
}

.search-box button:hover{
    background:var(--btn);
}

.popular-searches{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:12px;
    flex-wrap:wrap;
    margin-top:30px;
}

.popular-searches span{
    font-weight:600;
    color:var(--text);
}

.popular-searches button{
    border:none;
    background:var(--white);
    color:var(--btn);
    padding:10px 18px;
    border-radius:30px;
    cursor:pointer;
    transition:.3s;
}

.popular-searches button:hover{
    background:var(--btn);
    color:var(--white);
}











 









@media(max-width:757px){
 .search-box{
    height:50px !important;
    padding: 15px !important;
}


}


